@import "src/config";
.nav {
  h2 {
    margin-top: 4rem;
    font-size: 1.7rem;
    color: $clr-white;
    margin-bottom: 1rem;
  }
  ul li a {
    color: $clr-white;
    line-height: 2;
    &:hover {
      text-decoration: underline;
    }
  }
}
