@import "/src/config";

.hero {
  background: url("/assets/banner.svg");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100vw;
  padding: 0;
  margin: 0;
  width: 100vw;
  position: relative;
  height: auto;
  background-size: cover;
}
.container {
  @include container;
  @include flex-row;
  @include tablet-sm {
    flex-direction: column-reverse;
  }
  div:nth-of-type(1) {
    min-width: 40rem;
    @include tablet-sm {
      min-width: unset;
    }
    h1 {
      font-size: 5rem;
      color: $clr-white;
      text-transform: capitalize;
      margin-bottom: 2rem;
      @include tablet {
        font-size: 4.2rem;
      }
      @include tablet-sm {
        font-size: 3.8rem;
      }
    }
    p {
      line-height: 2;
      font-size: 1.7rem;
    }
    button {
      width: 90%;
      background-color: $clr-white;
      color: $clr-primary;
      height: 5rem;
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 2rem;
      border: 0.3px solid $clr-primary2;
      @include tablet-sm {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  img {
    filter: drop-shadow(-4px 12px 4px rgba($clr-black, 0.2));
    width: 60vw;
    @include tablet-sm {
      width: 70vw;
      margin: 0 auto;
    }
    @include mobile {
      width: 90vw;
    }
  }
}
